<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/menu.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

    {% block stylesheets %}{% endblock %}

</head>
<body>

<!-- Flash Message ************   -->
{% if app.session.flashBag.has('success') %}
    <div style="margin-top:50px;">
        <div class="alert alert-success">
          {% for msg in app.session.flashBag.get('success') %}
               {{ msg }}
            {% endfor %}
      </div>
    </div>
{% endif %}


<!-- Navbar ************   -->

<h3 class="page-header"></h3>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contacts - CRUD</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Contacts</a>
    <a href="/contacts/index">&nbsp;&nbsp;&nbsp;List</a>
    <a href="/contacts/new">&nbsp;&nbsp;&nbsp;New</a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
</div>


<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; menu</span>

    <!-- Body ************   -->

    <div id="main" class="container-fluid">

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}

    </div>

</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>




</body>
</html>








