{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="page-header"></h3>

<div class="text-center">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
            <a href="/contacts/new" class="btn btn-primary">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-plus fa-5x"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p>New Contact</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2">
            <a href="/contacts/index" class="btn btn-default">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p>List Contacts</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
